.custom {
  &__canvas {
    background-color: #E8E8E8;
  }
  &__colorBtn {
    width: 48px;
    height: 48px;
    &:hover{
      height: 58px; 
      width: 58px;
    }
    &--active{
      height: 58px; 
      width: 58px;
    }
  }
}