.custom {
  &__fluid {
    height: 100vh;
  }
  &__canvas {
    background-color: #E8E8E8;
    margin-top: -38px;
  }
  &__colorBtn {
    width: 48px;
    height: 48px;
    transition: 0.3s;
    &:hover{
      height: 35px; 
      width: 35px;
    }
    &--active{
      height: 35px; 
      width: 35px;
    }
  }
  &__collapse {
    transition: 1s;
    z-index: 9;
    &__btn {
      transition: 1s;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: transparent;
      cursor: pointer;
      z-index: 9;
    }
    &__nav {
      transform: translateY(-38px);
      &__btn {
        top: 0;
      }
    }
    &__tool {
      width: 730px;
      opacity: 1;
      border-radius: 30px;
      background-color: white;
      &__position {
        bottom: 0;
      }
      &__btn {
        bottom: 10%;
      }
    }
  }
}
input[type=range] {
  appearance: none;    /* 重置預設背景拉條 */
  height: 8px;
  outline: none;       /* 避免點選會有藍線或虛線 */
  background: none;
  // 滑動軌道
  &::-webkit-slider-runnable-track {
    background-color: black; 
    border-radius: 8px;
    height: 5px;
  }
  // 滑動拉桿
  &::-webkit-slider-thumb {
    appearance: none;
    position: relative;
    top: -6px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: black;
    pointer-events: auto
  }
}