.custom {
  &__canvas {
    background-color: #E8E8E8;
  }
  &__colorBtn {
    width: 48px;
    height: 48px;
  }
  &__colorSelect {
    background-color: #e70f0f;
    &__firstType {
      background-color: darken(#e70f0f, 15%) 
    }
    &__secondaryType {
      background-color: darken(#e70f0f, 25%) 
    }
  }
}